/* board.css */


body {
    font-family: "Dokdo", system-ui;
    font-weight: 400;
    font-style: normal;
    /*font-family: Arial, sans-serif;*/
    padding: 20px;
}

.body {
    background-color: #f8f9fa;
}

h1 {
    color: #343a40;
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #dee2e6;
}

th, td {
    padding: 12px;
    text-align: left;
}

tr td {
    background-color: #ffffff;
}

th {
    background-color: #ffffff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a.btn {
    display: inline-block;
    margin-bottom: 20px;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

ul li {
    margin: 0 5px;
}

ul li a {
    display: block;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

ul li a:hover {
    background-color: #0056b3;
}

tr td a {
    color: black;
}

tr td a:visited {
    color: black; /* 기본 링크 색상과 동일하게 설정 */
}

tr td a:hover {
    color: #007bff;
}